/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.table-container {
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    overflow: visible; /* Ensure no scrolling */
}

table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 2px solid #ddd; /* Border for table, headers, and cells */
}

th {
    background-color: lightyellow;
    padding: 12px;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 2px solid #ddd;
}

td {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.time-light-green {
    background-color: #d0f0c0; /* Light green */
}

.time-peach {
    background-color: #ffcccb; /* Peach color */
}

.time-light-red {
    background-color: #de5c59; /* Light Red color */
}

.weekday-row {
    margin-bottom: 10px;
}

/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* Table hover effect */
tr:hover {
    background-color: #f1f1f1;
}

/* Button styling */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
